doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/normalize.css')
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    block content 